{% extends 'base.html.twig' %}

{% block title %}Hello DisheController!
{% endblock %}

{% block body %}


	<div>
		<h1>{{ dishe.name }}</h1>
		<p>{{ dishe.description }}</p>
		<p>{{ dishe.price/100 }}0 €
						€</p>
	</div>
{% endblock %}
