{% extends 'base.html.twig' %}

{% block title %}Le RGPD
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Politique de confidentialité</h1>

		<h2>1. Collecte des données personnelles</h2>
		<p>Le Quai Ethnique peut collecter les données personnelles suivantes :</p>
		<ul>
			<li>Nom</li>
			<li>Adresse e-mail</li>
			<li>Numéro de téléphone</li>
			<li>Adresse postale</li>
		</ul>

		<h2>2. Utilisation des données collectées</h2>
		<p>Les données personnelles collectées sont utilisées pour les finalités suivantes :</p>
		<ul>
			<li>Gérer les réservations</li>
			<li>Envoyer des informations sur les promotions et les événements spéciaux</li>
			<li>Améliorer nos services</li>
		</ul>

		<h2>3. Conservation des données</h2>
		<p>Les données personnelles sont conservées pendant une durée de [indiquer la durée de conservation] et sont ensuite supprimées de nos systèmes.</p>

		<h2>4. Partage des données personnelles</h2>
		<p>Le Quai Ethnique s'engage à ne pas partager les données personnelles avec des tiers sans votre consentement, sauf dans les cas suivants :</p>
		<ul>
			<li>Si la loi l'exige ou l'autorise</li>
			<li>Si cela est nécessaire pour protéger les droits et intérêts légitimes de Le Quai Ethnique</li>
		</ul>

		<h2>5. Sécurité des données</h2>
		<p>Le Quai Ethnique prend la sécurité des données personnelles au sérieux et met en place des mesures appropriées pour protéger ces données contre tout accès, utilisation ou divulgation non autorisés.</p>

		<h2>6. Vos droits</h2>
		<p>Vous avez les droits suivants concernant vos données personnelles :</p>
		<ul>
			<li>Accéder à vos données personnelles</li>
			<li>Demander la rectification de vos données personnelles</li>
			<li>Demander l'effacement de vos données personnelles</li>
			<li>Demander la limitation du traitement de vos données personnelles</li>
			<li>Vous opposer au traitement de vos données personnelles</li>
			<li>Exercer votre droit à la portabilité des données</li>
		</ul>

		<h2>7. Contact</h2>
		<p>Pour exercer vos droits ou si vous avez des questions concernant cette politique de confidentialité, veuillez nous contacter :</p>
		<p>Le Quai Ethnique</p>
		<p>Adresse : [adresse du restaurant]</p>
		<p>Téléphone : [numéro de téléphone du restaurant]</p>
		<p>E-mail : [adresse e-mail du restaurant]</p>

		<p>Cette politique de confidentialité a été mise à jour
		</p>
	</div>
{% endblock %}
