<div id="menu-section">
  <div class="section-title text-center">
    <div class="overlay">
      <h2 class="wow fadeInLeft">Carte & menus</h2>
      <hr>
      <p class="wow fadeInRight">Notre carte évolue selon les saisons et la créativité de notre Chef.</p>
    </div>
  </div>
  <div class="container">
    <div class="row"> 
      <!-- Nav tabs -->
      <div class="card">
        <ul class="nav nav-tabs wow fadeInDown" role="tablist">
          <li role="presentation" class="active"><a href="#entrees" aria-controls="entrees" role="tab" data-toggle="tab">Entrées</a></li>
          <li role="presentation"><a href="#viandes" aria-controls="viandes" role="tab" data-toggle="tab">Plats</a></li>
          <!--<li role="presentation"><a href="#poissons" aria-controls="poissons" role="tab" data-toggle="tab">Poissons</a></li>-->
          <li role="presentation"><a href="#desserts" aria-controls="desserts" role="tab" data-toggle="tab">Desserts</a></li>
          <li role="presentation"><a href="#formule" aria-controls="formule" role="tab" data-toggle="tab">Formule 44,80€</a></li>
          <li role="presentation"><a href="#jour" aria-controls="jour" role="tab" data-toggle="tab">Menu du jour</a></li>
		  <!--<li role="presentation"><a href="#fete" aria-controls="jour" role="tab" data-toggle="tab">Spécial fin d’année  </a></li>
          <li role="presentation"><a href="#chalet" aria-controls="chalet" role="tab" data-toggle="tab">Menu Chalet</a></li>
          <li role="presentation"><a href="#entreprise" aria-controls="entreprise" role="tab" data-toggle="tab">Entreprise</a></li>-->
          <li role="presentation"><a href="#groupe" aria-controls="groupe" role="tab" data-toggle="tab">Groupe</a></li>
        </ul>
        
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="entrees">
            <div class="row">
              <div class="col-xs-12 col-sm-6 wow fadeInLeft">
                <div class="menu-section">
                  <div class="menu-item">
                    <div class="menu-item-name">Cuisses de grenouilles façon meunière</div>
                    <div class="menu-item-price"> 13€ </div>
                    <div class="menu-item-description">Risotto citron / crème chardonnay aux agrumes</div>
                  </div>
                  <div class="menu-item">
                    <div class="menu-item-name">Rocamadour rôti / raisin blanc au Muscat / compotée de coing</div>
                    <div class="menu-item-price"> 13€ </div>
                    <div class="menu-item-description">Tomate confite / concassé de noisettes</div>
                  </div>
				  <div class="menu-item">
					<div class="menu-item-name">Feuilleté de ris de veau et Sot L’y Laisse / persillade de Girolles et petits gris</div>
					<div class="menu-item-price"> 22€ </div>
					<div class="menu-item-description">Compotée d’oignons / moutarde à l’ancienne</div>
				  </div>
                  <div class="menu-item">
                    <div class="menu-item-name">Œuf poché</div>
                    <div class="menu-item-price"> 13€ </div>
                    <div class="menu-item-description">Lentilles du Puys à la crème d’Isigny et estragon / gressin / dés chorizo et cheddar</div>
                  </div>
				</div>
			  </div>
              <div class="col-xs-12 col-sm-6 wow fadeInRight">
				  <div class="menu-section">
					  <div class="menu-item">
						<div class="menu-item-name">Cubes de saumon aux baies de Timut</div>
						<div class="menu-item-price"> 15€ </div>
						<div class="menu-item-description">mousseline betterave / Brunoise de Granny Smith / julienne de légumes</div>
					  </div>
					  <div class="menu-item">
						<div class="menu-item-name">Soupe au lait de coco / émincé de volaille / crevettes</div>
						<div class="menu-item-price"> 13€ </div>
						<div class="menu-item-description">Coriandre – citronnelle / galangal ….. Epicé 😊</div>
					  </div>
					  <div class="menu-item">
						<div class="menu-item-name">Carpaccio de Noix de Saint-Jacques sur miroir Passion-Citron vert</div>
						<div class="menu-item-price"> 22€ </div>
						<div class="menu-item-description">baies roses</div>
					  </div>

				  </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="viandes">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="menu-section">
                  
                  <div class="menu-item">
                    <div class="menu-item-name">Carré de Baron de Porcelet laqué / au caramel beurre salé</div>
                    <div class="menu-item-price"> 23,50€ </div>
                    <div class="menu-item-description">Gratin dauphinois / tians de légumes</div>
                  </div>
					
				  <div class="menu-item">
                    <div class="menu-item-name">Tournedos de veau en croûte d’éclats de noisettes / sauce aux marrons</div>
                    <div class="menu-item-price"> 36€ </div>
                    <div class="menu-item-description">Pommes coin de rue et légumes gourmands</div>
                  </div>
					
                    
                <div class="menu-item">
                    <div class="menu-item-name">Onglet de bœuf origine Irlande gratiné au Brie de Meaux</div>
                    <div class="menu-item-price"> 23,50€</div>
                    <div class="menu-item-description">Gratin dauphinois / tians de légumes</div>
                  </div>
                    
                  <div class="menu-item">
                    <div class="menu-item-name">Filet de bœuf à la vigneronne </div>
                    <div class="menu-item-price"> 46€ </div>
                    <div class="menu-item-description">Pommes coin de rue et légumes gourmands</div>
                  </div>
					
				  <div class="menu-item">
                    <div class="menu-item-name">Selle d’agneau farcie aux mendiants et fruits secs</div>
                    <div class="menu-item-price"> 23,50€ </div>
                    <div class="menu-item-description">Jus au cumin / Gratin dauphinois / tians de légumes</div>
                  </div>
					
                  <div class="menu-item">
                    <div class="menu-item-name">Steak tartare tradition </div>
                    <div class="menu-item-price"> 18€ </div>
                    <div class="menu-item-description"></div>
                  </div>
					
				  <div class="menu-item">
                    <div class="menu-item-name">Wok de volaille – crevettes</div>
                    <div class="menu-item-price"> 18€</div>
                    <div class="menu-item-description">Nouilles de riz / germes de soja / mix de légumes</div>
                  </div>
				  <div class="menu-item"> 
                    <div class="menu-item-name">Le Burger de mon pote du Dock</div>
                    <div class="menu-item-price"> 20€ </div>
                    <div class="menu-item-description">Lard fumé / frites soufflées </div>
                  </div>
					
				</div>
              </div>
				
              <div class="col-xs-12 col-sm-6">
                <div class="menu-section">
				  
				  <div class="menu-item">
                    <div class="menu-item-name">Tataki de thon albacore au concassé de cacahuètes </div>
                    <div class="menu-item-price"> 36€</div>
                    <div class="menu-item-description">Coulis aux épices thaïlandaises / nems de légumes</div>
                  </div>
				  <div class="menu-item">
                    <div class="menu-item-name">Noix de Saint-Jacques corail / sautées à la plancha</div>
                    <div class="menu-item-price"> 36€</div>
                    <div class="menu-item-description">Crème à la vanille Bourbon de Madagascar / Légumes tournés</div>
                  </div>					
                  <div class="menu-item">
                    <div class="menu-item-name">Pappardelle aux fruits de mer et poisson du jour façon Caccuicatta à la badiane</div>
                    <div class="menu-item-price"> 26€</div>
                    <div class="menu-item-description">Tagliatelles de légumes</div>
                  </div>
                  <div class="menu-item">
                    <div class="menu-item-name">Filet de julienne en croûte de chorizo	</div>
                    <div class="menu-item-price"> 23,50€ </div>
                    <div class="menu-item-description">Flan de légumes / pommes vapeur</div>
				  </div>
                  <div class="menu-item"> 
                    <div class="menu-item-name">Poisson entier rôti au citron vert / sauce Chardonnay acidulée    </div>
                    <div class="menu-item-price"> 32€ </div>
                    <div class="menu-item-description">Selon arrivage / pièce de 500g environ</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <!--<div role="tabpanel" class="tab-pane fade" id="poissons">
            <div class="row">
              <div class="col-xs-12 col-sm-12">
                <div class="menu-section">
					
					<div class="menu-item">
                    <div class="menu-item-name"> Tataki de Thon albacore au concassé de cacahuètes</div>
                    <div class="menu-item-price"> 28€ </div>
                    <div class="menu-item-description"> Coulis aux épices thaïlandaises / nems de légumes</div>
                  </div>
                  <div class="menu-item">
                    <div class="menu-item-name"> Joues de lotte / sauce au Combava / petits fruits de mer   </div>
                    <div class="menu-item-price"> 20€ </div>
                    <div class="menu-item-description"> Pommes vapeurs / sauce Mer rouge au  fumet de homard</div>
                  </div>
				
				<div class="menu-item">
                    <div class="menu-item-name"> Osso bucco de lotte en robe de lard / queues de langoustines                       </div>
                    <div class="menu-item-price"> 39€ </div>
                    <div class="menu-item-description"> Crème champenoise safranée</div>
                  </div>
					
                  <div class="menu-item">
                    <div class="menu-item-name"> Marmite du pêcheur façon bouillabaisse... gambas / seiches / cabillaud</div>
                    <div class="menu-item-price"> 20€ </div>
                    <div class="menu-item-description"> Saumon /moules /croutons/ rouille / tomate / pomme vapeur</div>
                  </div>
					
					<div class="menu-item">
                    <div class="menu-item-name"> Noix de Saint-Jacques rôties à la vanille / riz vénéré aux tomates confites</div>
                    <div class="menu-item-price"> 28€ </div>
                    <div class="menu-item-description"> </div>
                  </div>
					
                  
                  
                </div>
              </div>
             
            </div>
          </div>-->
          <div role="tabpanel" class="tab-pane fade" id="desserts">
			  <div class="row">
			  	<div class="col-xs-12 text-center">
				  
						<p style="color: #666">Desserts réalisés par nos petits pâtissiers...</p>

 
						<p style="color: #666">Nous confectionnons toutes nos pâtisseries avec les chocolats <strong>WEISS</strong>
					</p>
				  
				  </div>
			  </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="menu-section">
				  <div class="menu-item">
                    <div class="menu-item-name">Tiramisu pina colada / Dacquoise et chips de coco 	</div>
                    <div class="menu-item-price"> 13€ </div>
                    <div class="menu-item-description">Ananas confit au Malibu / Mousse noix de coco</div>
                  </div>

				  <div class="menu-item">
                    <div class="menu-item-name">Mont Blanc revisité / Meringue Française / chantilly gingembre</div>
                    <div class="menu-item-price"> 15€ </div>
                    <div class="menu-item-description">gelée de griottes / gingembre – marrons confits - mousse marron</div>
                  </div>
				  <div class="menu-item">
                    <div class="menu-item-name">Tarte citron contemporaine / Crème citron</div>
                    <div class="menu-item-price"> 13€ </div>
                    <div class="menu-item-description">Gelée mandarine-passion / Sablé Matcha / Zestes citron confit / segments d’agrumes / meringue Française</div>
                  </div>
				  <div class="menu-item">
                    <div class="menu-item-name">La Poire selon Ana nôtre cheffe Pâtissière  </div>
                    <div class="menu-item-price"> 15€ </div>
                    <div class="menu-item-description">Poire pochée aux myrtilles / mousse riz au lait vanillée / Siphon et myrtilles fraîches</div>
				  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="menu-section">
			      <div class="menu-item">
                    <div class="menu-item-name">Profiteroles maison façon éclair  	</div>
                    <div class="menu-item-price"> 13€ </div>
                    <div class="menu-item-description">craquelin / glace vanille / mer chocolat</div>
                  </div>
				  <div class="menu-item">
                    <div class="menu-item-name">Café et gourmandises Maison</div>
                    <div class="menu-item-price"> 13€ </div>
                    <div class="menu-item-description"></div>
                  </div>
				  <div class="menu-item">
                    <div class="menu-item-name"> <strong>Le plateau du fromager</strong> </div>
                    <div class="menu-item-price"> 15€ </div>
                    <div class="menu-item-description">Spécialités Briardes et de nos régions</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div role="tabpanel" class="tab-pane fade" id="formule">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="menu-section">
                  <div class="menu-item" align="center">
                    <div class="menu-item-name"> Entrées au choix </div>
                    <div class="menu-item-price"> &nbsp; </div>
                    <div class="menu-item-description">
                    	 <strong>Cuisses de grenouilles façon meunière </strong>/ risotto citron<br>
crème chardonnay aux agrumes<br><br>

<strong>Rocamadour rôti / raisin blanc au Muscat / compotée de coing</strong><br><br>

<strong>Œuf poché</strong> / lentilles du Puys à la crème d’Isigny et estragon<br>
gressin
dés chorizo et cheddar<br><br>

						<strong>Soupe au lait de coco/ émincé de volaille / crevettes</strong><br>
Coriandre – citronnelle / galangal... Epicé 😊<br><br>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="menu-section">
                  <div class="menu-item" align="center">
                    <div class="menu-item-name"> Plats au choix</div>
                    <div class="menu-item-price"> &nbsp; </div>
                    <div class="menu-item-description"> 
                    	<strong>Carré de Baron de Porcelet laqué</strong> / caramel beurre salé<br><br>
                
						<strong>Onglet de bœuf Origine Irlande au Brie de Meaux</strong><br><br>

						<strong>Selle d’agneau farcie aux mendiants et fruits secs</strong> / jus au cumin<br><br>



						<strong>Filet de julienne en croûte de chorizo</strong><br><br>

                    </div>
                  </div>
                </div>
              </div>
              <div class="menu-item" style="clear:both; text-align:center">
                    <div class="menu-item-name"> Desserts au choix </div>
                    <div class="menu-item-price"> &nbsp; </div>
                    <div class="menu-item-description"> 
                    	<strong>Tiramisu pina colada</strong> / Dacquoise et chips de coco / ananas confit au Malibu / Mousse noix de coco<br><br>

						<strong>Tarte citron contemporaine</strong> Crème citron / gelée mandarine-passion / sablé Matcha
Zestes citron confit / segments d’agrumes / meringue Française<br><br>

						<strong>Café et gourmandises maison</strong><br><br>

						<strong>Profiteroles maison façon éclair</strong> / craquelin / glace vanille / mer chocolat<br><br>
						
                    </div>
                  </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="jour">
            <div class="row" align="center">
              <div>
                <div class="menu-section">
                  <div class="menu-item">
                    <div class="menu-item-name"> 21,80€<br><strong>Le midi, excepté week-end et jours fériés</strong> <br>Ce menu change chaque jour </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div role="tabpanel" class="tab-pane fade" id="fete">
            <div class="row" align="center">
              <div>
                <div class="menu-section">
                  <div class="menu-item">
                    <div class="menu-item-name"> 57€<br></div>
                    <div class="menu-item-price">  </div>
                    <div class="menu-item-description"><br>
						Soupe de champagne ou cocktail de fruits sans alcool 
						<br>
						<br>
						<strong>Entre terre et mer</strong><br>
						Foie gras de canard Mi-cuit maison<br>
						 Saumon fumé à la ficelle<br><br>

						<strong>Plats au choix</strong><br>

						Magret de canard fumé / Sauce à la framboise<br>

						Ou<br>

						Filet de bar rôti, coquillages <br>
						Petite crème Champenoise<br><br>


						<strong>Desserts au choix<br>
						(accompagné d’une coupe de champagne +8€)</strong><br>


						Nougat glacé maison / chantilly Tonka<br>
						Ou <br>
						Profiteroles maison façon éclair / mer chocolat<br><br>

						¼ Pouilly fumé ou Lussac Saint-émilion  <br><br>
						 ¼ eau minérale plate ou pétillante / Café

                    
                    
                    </div>
                  </div>
                 
                  
                  
                </div>
              </div>

            </div>
          </div>
          
          <div role="tabpanel" class="tab-pane fade" id="chalet">
            <div class="row" align="center">
              <div>
                <div class="menu-section">
                  <div class="menu-item">
                    <div class="menu-item-name"> 50€<br><strong>Privatisation du chalet entre 8 à 12 personnes.</strong> <br>Le prix de la privatisation du chalet est compris dans le prix du menu.</div>
                    <div class="menu-item-price">  </div>
                    <div class="menu-item-description"> <br><strong>Vin chaud servi à votre arrivée</strong>
                    <br><br>
                   
                    
    <strong>Fondue savoyarde ou Raclette</strong><br> avec charcuterie et salade<br><br>


<strong>Dessert</strong><br>accompagné d'une coupe de champagne<br><br>

<strong>Vin: Saumur, 1 bouteille pour 4</strong>
                    
                    
                    </div>
                  </div>
                 
                  
                  
                </div>
              </div>

            </div>
          </div>
          
          
                    <div role="tabpanel" class="tab-pane fade" id="entreprise">
            <div class="row" align="center">
              <div>
                <div class="menu-section">
                  <div class="menu-item">
					  <div class="menu-item-name"> <strong>Menu Spécial fin d’année  </strong><br>
<br>36€ </div>
                    <div class="menu-item-price"> </div>
                    <div class="menu-item-description"> 
                    
<br>
<strong>Apéritif</strong><br><br>
Soupe de champagne ou cocktail de fruits sans alcool <br><br>

<strong>Entrées au choix</strong><br><br>

						Feuilleté de chèvre aux mendiants<br>
						<br>

Truite de mer fumée / toasts<br>
						<br>

Pressé de canard et gésiers <br><br>

						


<strong>Plats au choix</strong><br><br>

Filet de lieu, petite sauce au Chardonnay <br>
aux fruits de mer<br><br>

Sauté de canard en poivrade<br><br>

Rôti de Chapon farci aux cèpes
<br><br>

<strong>Desserts au choix</strong><br><br>
						
Café et ses gourmandises<br><br>

Brioche Panettone perdue, glace vanille<br><br>

Bûche chocolat /fruits rouges<br><br>

<strong>1/4 Saumur Champigny rouge  ou blanc <br><br>

 Café
</strong>
                    
                    </div>
					  <!--
                    <div class="menu-item-name"> 33€ <br><strong>Uniquement en semaine</strong><br>Ce menu peut être modifié (nous contacter pour toute demande) </div>
                    <div class="menu-item-price"> </div>
                    <div class="menu-item-description"> 
                    
<br>
<strong>Apéritif</strong><br><br>
Kir de bienvenue ou cocktail de jus de fruits<br><br>

<strong>Entrées au choix</strong><br><br>

Toasts de chèvre et de Brie de Meaux gratinés<br>

<br>

Bateaux de melon et voiles au jambon de pays
 <br>

<br>

Fraicheur de saumon et légumes marinés<br><br>

<strong>Plats au choix</strong><br><br>

Filet de lieu sauce chardonnay <br>

<br>

Bavette à l’échalote <br>

<br>

Sauté de volaille à la Thaï<br><br>

<strong>Café et gourmandises</strong><br><br>

<strong>Vins : 1 bouteille de Saumur pour 4</strong>
                    
                    </div>
-->
                  </div>
                  
                  
                  
                </div>
              </div>
             
            </div>
          </div>
                    <div role="tabpanel" class="tab-pane fade" id="groupe">
            <div class="row" align="center">
              <div>
                <div class="menu-section">
                  <div class="menu-item">
                    <div class="menu-item-name">
					<b>Menu à 72€</b><br>
					 Coupe de champagne ou cocktail de fruits sans alcool / Accompagné d’amuses bouches<br>
1 bt de vin pour 4 / Rouge Lussac Saint Emilion / Blanc Pouilly Fumé<br>
Boissons chaudes (cafés / thés)<br><br>

					<b>Menu à 60€</b><br>
					Soupe champenoise ou cocktail de fruits sans alcool<br>
					1 bt de vin pour 4 / Saumur rouge ou Blanc <br>
					Boissons chaudes (cafés / thés)<br><br>
                        
						<!--en construction - contactez nous à l'adresse suivante : <a href="mailto:restaurant-lavilla@orange.fr">restaurant-lavilla@orange.fr </a>-->
					</div>
                    <div class="menu-item-price"> </div>
                    <div class="menu-item-description">
						<br>
                    	<strong>Entrées au choix</strong><br><br>
                        
						Cuisse de grenouilles façon meunière / risotto citron / crème chardonnay aux agrumes<br><br>

						Rocamadour rôti / raisin blanc au Muscat / compotée de coing<br><br>

						Œuf poché / lentilles du puys à la crème d’Isigny et estragon / gressin / dés de chorizo / cheddar<br><br>

						Cubes de saumon aux baies de Timut / mousseline betterave Brunoise de Granny Smith / julienne de légumes <strong>+ 2€</strong><br><br>

						Soupe au lait de coco/ émincé de volaille / crevettes / Coriandre – citronnelle / galangal ….. Epicé 😊<br><br>
						
                       	<strong>Plats au choix</strong><br><br>
						
						Carré de Baron de Porcelet laqué / caramel beurre salé<br><br>
                
						Onglet de bœuf Origine Irlande au Brie de Meaux<br><br>

						Selle d’agneau farcie aux mendiants et fruits secs / Jus au cumin<br><br>

						Pappardelle aux fruits de mer et poisson du jour façon Caccuicatta à la badiane <strong>+ 2€</strong><br><br>
						
						Filet de julienne en croûte de chorizo<br><br>
						
						<strong>Desserts au choix</strong><br><br>
						
						Tiramisu pina colada / Dacquoise et chips de coco / ananas confit au Malibu / / mousse de noix de coco<br><br>
                        
                        Tarte citron contemporaine / Crème citron / gelée mandarine-passion / sablé matcha / zestes citron confit / segments d’agrumes / meringue française<br>
<br>


						Le Mont-Blanc / meringue / chantilly gingembre / gelée de griottes / gingembre – marrons confits / mousse marron <strong>+ 2€</strong><br><br>

						

						Profiteroles maison façon éclair / craquelin / glace vanille / mer chocolat<br><br>
						
						Café et gourmandises maison<br><br>
						
						Le plateau du fromager / Spécialités Briardes et de nos régions <strong>+ 2€</strong><br><br>
						
                     </div>
                  </div>
                  
                  
                  
                </div>
              </div>
     
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>