.body-container {
  /* background-color: black; */
  color: rgb(23, 23, 22);
  height: 100vh;
  padding: 10px;
}
.body-container-fluid {
  display: flex;
  justify-content: center;
  /* background-color: brown; */
  height: 50%;
}
h5 {
  text-align: justify;
  width: 50%;
  border: 1px solid blue;
  margin: 30px;
}

.container-photo-chef {
  background-color: black;
  /* border-radius: 48% 52% 68% 32% / 41% 15% 85% 59%; */
  border: 1px solid red;
  width: 50%;
}
.container-photo-chef img {
  border-radius: 28px;
  border: 1px solid red;
  width: 20%;

}