.block-construct {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: grey;
}

.block-construct h1 {
  color: rgb(200, 16, 185);
  z-index: 3;
}

.image-construct {
background: no-repeat center/cover;
}

.image-construct img {
  margin: 15vh auto;
  width: 100%;
  height: 80%;
}