

*{
  list-style: none;
  font-family: 'Boogaloo', cursive;
  font-size: 1.2rem;
}

.main-menu {
padding: 0 !important;
margin: 0 !important;
}
.main-menu img {
  border-radius: 2px;
  opacity: 0.35;
  /* border: 20px solid pink; */
}

.menu-text-center {
  width: 90%;
  margin: 25px auto;
 }

li {
text-transform: capitalize;
}
