{% extends 'base.html.twig' %}

{% block title %}Hello RestaurantController!
{% endblock %}

{% block body %}
	{% include '_partials/_navbar.html.twig' %}
	<h1>Page du restaurant !</h1>

	{% include '_partials/_footer.html.twig'  %}

{% endblock %}
