{% extends 'base.html.twig' %}

{% block title %}Hello ChefController!
{% endblock %}

{% block body %}
	{% include '_partials/_navbar.html.twig' %}
	<div class="block-construct">
		<div class="image-construct">
			<img src="{{asset('assets/images/construct/travaux.png')}}" alt="" srcset="">
		</div>
	</div>
	{% include '_partials/_footer.html.twig' %}
	{# <script>
											setTimeout(function () {
									window.location.href = "{{ path('app_home') }}";
									}, 1300);
										</script> #}
{% endblock %}
